<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">

  <a class="navbar-brand fw-bold text-warning"  routerLink="">
    MovieDB
  </a>

  <button
    class="navbar-toggler"
    data-bs-toggle="collapse"
    data-bs-target="#menu">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div
    class="collapse navbar-collapse mt-3 mt-lg-0"
    id="menu">

        <ul class="navbar-nav ms-auto">

        <li class="nav-item">
            <a class="nav-link" routerLink="">
            Home
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/movies">
            Filmes
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/favorites">
            Favoritos
            </a>
        </li>

            <!-- NÃO LOGADO -->

            <li
                *ngIf="!usuario"
                class="nav-item">

                <a
                    class="nav-link"
                    routerLink="/login">

                    Entrar

                </a>

            </li>

            <!-- LOGADO -->

            <li
                *ngIf="usuario"
                class="nav-item dropdown">

                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="dropdown">

                    {{ usuario.nome }}

                </a>

                <ul class="dropdown-menu dropdown-menu-dark">

                    <li>

                        <a
                            class="dropdown-item"
                            href="#">

                            Perfil

                        </a>

                    </li>

                    <li>

                        <button
                            class="dropdown-item"
                            (click)="logout()">

                            Logout

                        </button>

                    </li>

                </ul>

            </li>

        </ul>

    </div>

</nav>