.login-page {

  min-height: 100vh;

  background-color: #121212;

  padding-top: 100px;
}

.btn-warning {

  background-color: #f5c518;

  border: none;

  color: black;
}

.btn-warning:hover {

  background-color: #e6b800;
}

.btn-light {

  background-color: #2a2a2a;

  border: none;

  color: white;
}

.btn-light:hover {

  background-color: #3a3a3a;

  color: white;
}