<div class="favorites-page">

  <div class="container py-5">

    <h1 class="title">

      Meus Favoritos

    </h1>

    <!-- NÃO LOGADO -->

    <div
      *ngIf="!usuarioLogado"
      class="empty-message">

      Inicie sessão para ver
      seus filmes favoritos.

    </div>

    <!-- LOGADO MAS SEM FAVORITOS -->

    <div
      *ngIf="
        usuarioLogado &&
        favoritos.length === 0
      "
      class="empty-message">

      Você ainda não possui
      filmes favoritos.

    </div>

    <!-- FAVORITOS -->

    <div
      *ngIf="favoritos.length > 0"
      class="row">

      <div
        *ngFor="let filme of favoritos"
        class="col-lg-3 col-md-4 col-sm-6 mb-4">

        <div
          class="movie-card"
          [routerLink]="[
            '/movie',
            filme.id
          ]">

          <img
            [src]="filme.poster">

          <div class="movie-info">

            <h3>

              {{ filme.titulo }}

            </h3>

            <p>

              ⭐ {{ filme.nota }}

            </p>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>